<header class="page header text-contrast overlay alpha-8 image-background cover overlay gradient gradient-purple-blue" style="background-image: url('assets/img/bg/waves.jpg')">
    <div class="divider-shape">
        <!-- waves divider --> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" class="shape-waves" style="left: 0; transform: rotate3d(0,1,0,180deg);">
            <path class="shape-fill shape-fill-contrast" d="M790.5,93.1c-59.3-5.3-116.8-18-192.6-50c-29.6-12.7-76.9-31-100.5-35.9c-23.6-4.9-52.6-7.8-75.5-5.3c-10.2,1.1-22.6,1.4-50.1,7.4c-27.2,6.3-58.2,16.6-79.4,24.7c-41.3,15.9-94.9,21.9-134,22.6C72,58.2,0,25.8,0,25.8V100h1000V65.3c0,0-51.5,19.4-106.2,25.7C839.5,97,814.1,95.2,790.5,93.1z" /></svg></div>
    <div class="container" style="">
        <div class="row">
            <div class="col-md-6">
                <h1 class="regular display-4 text-contrast mb-4">Pricing plans</h1>
                <p class="lead text-contrast">Simple and affordable pricing plans. Try Dashcore with no obligation</p>
            </div>
        </div>
    </div>
</header><!-- ./Pricing cards -->
<section>
    <div class="container">
        <div class="section-heading text-center">
            <h2 class="mb-2">Simple and affordable prices</h2>
            <p class="lead text-secondary">Try Dashcore Pro for 14 days. No credit card required!.</p>
        </div>
        <div class="row">
            <div class="col-md-4 mt-5">
                <div class="card text-center">
                    <div class="pricing card-header bg-light-gradient d-flex align-items-center flex-column">
                        <h4>Personal</h4>
                        <div class="pricing-value"><span class="price bold">0.99</span></div>
                        <p>Includes simple but powerful functionality for individuals and small teams. You can upgrade on the way</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item strike-through">Cras justo odio</li>
                        <li class="list-group-item strike-through">Dapibus ac facilisis in</li>
                        <li class="list-group-item strike-through">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-body"><a routerLink="/contact" class="btn btn-outline-secondary">Buy now</a></div>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <div class="card text-center">
                    <div class="pricing card-header bg-primary-gradient text-contrast d-flex align-items-center flex-column">
                        <h4>Business</h4>
                        <div class="pricing-value"><span class="price bold">29.99</span></div>
                        <p>For settle companies looking to stay competitive in the market and growing with the technology</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item strike-through">Cras justo odio</li>
                        <li class="list-group-item strike-through">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-body"><a routerLink="/contact" class="btn btn-primary">Buy now</a></div>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <div class="card text-center">
                    <div class="pricing card-header bg-light-gradient d-flex align-items-center flex-column">
                        <h4>Enterprise</h4>
                        <div class="pricing-value"><span class="price bold">99.99</span></div>
                        <p>Everything you can get from a professional solution to keep your business on its way to success</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-body"><a routerLink="/contact" class="btn btn-outline-secondary">Buy now</a></div>
                </div>
            </div>
        </div>
    </div>
</section><!-- ./Plans features -->
<section>
    <div class="container">
        <div class="section-heading text-center">
            <h2>All our plans include</h2>
            <p class="lead text-secondary">Get access to a ton of features out of the box</p>
        </div>
        <div class="row gap-y text-center text-md-left">
            <div class="col-md-4"><i data-feather="headphones" width="36" height="36" class="stroke-info mr-2 m-0"></i>
                <h5 class="bold my-3">First class support</h5>
                <p class="my-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque beatae dicta dolores hic porro quam voluptatibus.</p>
            </div>
            <div class="col-md-4"><i data-feather="box" width="36" height="36" class="stroke-info mr-2 m-0"></i>
                <h5 class="bold my-3">Code snippets</h5>
                <p class="my-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque beatae dicta dolores hic porro quam voluptatibus.</p>
            </div>
            <div class="col-md-4"><i data-feather="headphones" width="36" height="36" class="stroke-info mr-2 m-0"></i>
                <h5 class="bold my-3">Full documentation</h5>
                <p class="my-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque beatae dicta dolores hic porro quam voluptatibus.</p>
            </div>
            <div class="col-md-4"><i data-feather="lock" width="36" height="36" class="stroke-info mr-2 m-0"></i>
                <h5 class="bold my-3">Total control of your code</h5>
                <p class="my-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque beatae dicta dolores hic porro quam voluptatibus.</p>
            </div>
            <div class="col-md-4"><i data-feather="airplay" width="36" height="36" class="stroke-info mr-2 m-0"></i>
                <h5 class="bold my-3">Responsive design</h5>
                <p class="my-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque beatae dicta dolores hic porro quam voluptatibus.</p>
            </div>
            <div class="col-md-4"><i data-feather="monitor" width="36" height="36" class="stroke-info mr-2 m-0"></i>
                <h5 class="bold my-3">Browser support</h5>
                <p class="my-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque beatae dicta dolores hic porro quam voluptatibus.</p>
            </div>
        </div>
    </div>
</section><!-- ./FAQs -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Do you have <span class="bold">questions</span></h2>
                <p class="lead">Not sure how this template can help you? Wonder why you need to buy our theme?</p>
                <p class="text-muted">Here are the answers to some of the most common questions we hear from our appreciated customers</p>
            </div>
            <div class="col-md-8">
                <div class="accordion accordion-clean" id="common-faqs-accordion">
                    <div class="card mb-3">
                        <div class="card-header"><a href="#" class="card-title btn" data-toggle="collapse" data-target="#q1"><i class="fas fa-angle-down angle"></i> What does the package include?</a></div>
                        <div id="q1" class="collapse show" data-parent="#common-faqs-accordion">
                            <div class="card-body">When you buy Dashcore, you get all you see in the demo but the images. We include SASS files for styling, complete JS files with comments, all HTML variations. Besides we include all mobile PSD mockups.</div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header"><a href="#" class="card-title btn" data-toggle="collapse" data-target="#q2"><i class="fas fa-angle-down angle"></i> What is the typical response time for a support question?</a></div>
                        <div id="q2" class="collapse" data-parent="#common-faqs-accordion">
                            <div class="card-body">Since you report us a support question we try to make our best to find out what is going on, depending on the case it could take more or les time, however a standard time could be minutes or hours.</div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header"><a href="#" class="card-title btn" data-toggle="collapse" data-target="#q3"><i class="fas fa-angle-down angle"></i> What do I need to know to customize this template?</a></div>
                        <div id="q3" class="collapse" data-parent="#common-faqs-accordion">
                            <div class="card-body">Our documentation give you all you need to customize your copy. However you will need some basic web design knowledge (HTML, Javascript and CSS)</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header"><a href="#" class="card-title btn" data-toggle="collapse" data-target="#q4"><i class="fas fa-angle-down angle"></i> Can I suggest a new feature?</a></div>
                        <div id="q4" class="collapse" data-parent="#common-faqs-accordion">
                            <div class="card-body">Definitely <span class="bold">Yes</span>, you can contact us to let us know your needs. If your suggestion represents any value to both we can include it as a part of the theme or you can request a custom build by an extra cost. Please note it could take some time in order for the feature to be implemented.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- ./Register -->
<section class="section">
    <div class="container bring-to-front">
        <div class="shadow rounded text-center bg-info-gradient p-5">
            <h2 class="mb-5 text-contrast">Try Dashcore now.... love it forever</h2>
            <p class="handwritten highlight font-md text-alternate">Why wait? Start now!</p><a href="signup.html" class="btn btn-darker btn-rounded mt-4">Start now</a>
        </div>
    </div>
</section><!-- ./CTA - Create Account -->
<section class="section bg-contrast edge top-left b-b">
    <div class="container pt-5">
        <div class="d-flex align-items-center flex-column flex-md-row">
            <div class="text-center text-md-left">
                <p class="light mb-0 text-primary lead">Ready to get started?</p>
                <h2 class="mt-0">Create an account now</h2>
            </div><a href="register.html" class="btn btn-primary btn-rounded mt-3 mt-md-0 ml-md-auto">Create DashCore account</a>
        </div>
    </div>
</section>
